
*{
	margin: 0;
	margin-top: 10px;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

 body {
  margin-top: 100px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	min-height: 100;  
 }

 .container {	
	background: #ffffff;;
 	width: 768px;
	height: 480px;
 	border:2px solid rgba(255, 255, 255, .2);
 	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
 	color: #222121;
 	border-radius: 10px;
 	padding: 30px 40px;
 }

/*--------------------------------------------------*/
/*                      LOGIN                       */
/*--------------------------------------------------*/

  .login-wrapper {	
	background: #ffffff;;
 	width: 50%;
 	color: #222121;
	left: 0;
 }

 .login-wrapper h1  {
 	font-size: 36px;
 	text-align: center;

 }

.icons{
	margin: 20px 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: x-large;
}

.icons a{

	background-color: #ffffff;
	width: 40px;
	height: 42px;	
	margin: 0 3px;
	text-align: center;
	border-radius: 32%;
	border-color: rgba(128, 128, 128, 0.616);
	border-width: 1px;
	border-style: solid;
}

.icons a:hover{
	background-color: rgba(128, 128, 128, 0.401);

}	

.icons i{
	color: #333;
}

p{
margin-bottom: -5%;
margin-top: 8%;
text-align: center;
}

 .login-wrapper .input-box {
	
  position: relative; 
 	width: 100%;
 	height: 50px;
 	margin: 30px 0; 
	
}

.registerTab input, .recruterRegister input ,textarea,.fileinput , .input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid  rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: rgba(128, 128, 128, 0.419);
	padding: 20px 45px 20px 20px;
	background-color: rgba(128, 128, 128, 0.129);
}


.registerTab input , .recruterRegister input ,.input-box input, textarea {
	color: rgb(0, 0, 0)
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 30%;
	transform: translativeY(-50%);
	font-size: 20px;
	color: gray;

}

 .forgotpass a {
   color: gray;
 	 text-decoration: none;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-top: 5%;
	 margin-bottom: 3%;
 }

.forgotpass a:hover {
	text-decoration: underline;
}

.login-wrapper .btn {
	width: 100%;
	height: 45px;
	background: #1a0a62c8;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, -1);
     cursor: pointer;
     font-size: 16px;
     color: #ffffff;
     font-weight: 600;   
}

/*--------------------------------------------------*/
/*                 DESIGN colorFONT                 */
/*--------------------------------------------------*/

.bluefont-wrapper-login{
	position: absolute;
	top: 14.5%;
	left: 52.6%;
	text-align: center;
	background-color: #1a0a6255;
	color: #222121;
	padding: 161px 30.5px;
	border-radius: 45px 10px 10px 45px;

}

.bluefont-wrapper-register{
	position: absolute;
	top: 14.5%;
	left: 23.2%;
	text-align: center;
	background-color: #1a0a6255;
	color: #222121;
	padding: 162px 48px;
	border-radius: 10px 45px 45px 10px;
	
}

.translateButton {
	width: 38%;
	height: 38px;
	background: #1a0a62c8;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 14.5px;
  color: #ffffff;
  font-weight: 600;   
}


/*--------------------------------------------------*/
/*                     REGISTER                     */
/*--------------------------------------------------*/


.register-wrapper {	
	background: transparent;
 	width: 50%;
 	color: #222121;
	float: right;
 }


 .register-wrapper h1  {
 	font-size: 36px;
	margin-top: 110px;
 	text-align: center;

 }

 .register-wrapper h1.active{
	animation-name: move-h1;
	animation-duration: 1.5s;
	animation-fill-mode:forwards;
 }

@keyframes move-h1 {
	from {
		margin-top: 110px;
	} 
	to {
		margin-top: 0px;
	}
}

.register-wrapper button{
 width: 40%;
 height: 38px;
 background: #1a0a62c8;
 border: none;
 outline: none;
 border-radius: 40px;
 box-shadow: 0 0 10px rgba(0, 0, 0, -1);
 cursor: pointer;
 font-size: 14.5px;
 color: #ffffff;
 font-weight: 600;   
 margin-left: 20px;
 margin-top: 30px;
 
}

.registerTab,.recruterRegister{
	display: none;
}

.registerTab p{
	text-align: left;
	margin: 25px 0 0 15px;

}

input.invalid {
  background-color: rgba(255, 0, 0, 0.122)
}

label.invalid {
  background-color: rgba(255, 0, 0, 0.122)
}

#nextBtn{
float: right;
}

textarea{
height: 168.5px;
}

input[type="file"] {
  display: none;
}

.fileinput {
  display: inline-block;
  cursor: pointer;
	color: rgba(0, 0, 0, 0.672);
	background-color: rgba(128, 128, 128, 0.129);
}

.recruterRegister input{
	
	width: 80%;
	height: 15px;

}
.recruterRegister p{
	text-align: left;
	margin: 10px 0 2px 18px;

}
.recruterRegister form{
	margin-top: -30px;
}

.recruterRegister button{
	margin-left: 25%;
	margin-top: 15px;
}